apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: bookfinderacr223.azurecr.io/frontend:latest
          ports:
            - containerPort: 8501
          env:
            - name: BACKEND_BROWSER_URL
              value: https://bookfinder.swedencentral.cloudapp.azure.com
            - name: PYTHONWARNINGS
              value: ignore